// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition


.toolbar
  opacity 1
  transition opacity .25s ease-in-out
  &.hidden
    opacity 0
    pointer-events none

.home-text
  opacity 1
  transform: translateX(0%)
  transition opacity 0.25s ease-in-out, transform 0.25s ease-in-out
  &.hidden-left
    opacity 0
    transform: translateX(-100%)
    pointer-events none
  &.hidden-right
    opacity 0
    transform: translateX(200%)
    pointer-events none

.thin
  font-weight 300

.sub-under
  width 160px
  height 2px
  margin 25px auto
  background-color black

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.icon-flipped
  transform scaleX(-1) scaleY(-1)
  -moz-transform scaleX(-1) scaleY(-1)
  -webkit-transform scaleX(-1) scaleY(-1)
  -ms-transform scaleX(-1) scaleY(-1)

.page-header
  text-shadow 1px 1px 1px #555;

.hero-style
  background-position center
  background-size cover
  height auto
  width auto
  max-width 100%