.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.primary-layout {
  background: url(~static/slant.svg)50% 0;
  background-size: 100%;
}